{% extends './admin/base.html.twig' %}


{% block body %}
    <div class="row justify-content-end">
        <div class="col-3 text-end">
            <a class="btn btn-dark" href="{{ path("app_admin_file_index") }}">Back</a>
        </div>
    </div>
    <h1>Adding a new product</h1>

    {{ form_start(form) }}
    {# ... #}

    {{ form_row(form.description) }}
    {{ form_row(form.fileName) }}
    <button type="submit">upload</button>
    {{ form_end(form) }}
{% endblock %}
