<div class="row mb-5 mt-5">
    <div class="col-12">
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path("app_home") }}">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.attributes.get('_route') in ['app_admin_file_index', 'app_admin_file_create'] %}active{% endif %}" aria-current="page" href="{{ path("app_admin_file_index") }}">Files</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.attributes.get('_route') in ['app_admin_category_index', 'app_admin_category_create', 'app_admin_category_update'] %}active{% endif %}" aria-current="page" href="{{ path("app_admin_category_index") }}">Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.attributes.get('_route') in ['app_admin_vat_index', 'app_admin_vat_create', 'app_admin_vat_update'] %}active{% endif %}" aria-current="page" href="{{ path("app_admin_vat_index") }}">Vat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.attributes.get('_route') in ['app_admin_product_index', 'app_admin_product_create', 'app_admin_product_update'] %}active{% endif %}" aria-current="page" href="{{ path("app_admin_product_index") }}">Product</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>