{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Description</th>
                    <th scope="col">Upload date</th>
                    <th scope="col">Download</th>
                </tr>
                </thead>
                <tbody>
                {% if files is not empty %}
                    {% for file in files %}
                        <tr id="{{ file.id }}">
                            <th scope="row"></th>
                            <td>{{ file.description }}</td>
                            <td>{{ file.createdAt | date("m/d/Y") }}</td>
                            <td>
                                <a
                                        href="{{ asset('uploads/admin_file_upload/' ~ file.fileName) }}"
                                        download="{{ file.fileName }}"
                                        class="text-center text-black opacity-hover"
                                >
                                    <i class="fa-solid fa-download"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">There are not any files.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}