{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 justify-content-center">
            <div class="col-12 product-offer-image p-0 mr-0" style="background-image: url({{ asset('images/default_image_offer.jpg') }});">

            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <div class="row">
                <div class="col-12 text-center">
                    {{ product.name }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center mt-3">
                    {{ displayPrice(product.price) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center mt-3">
                    <button class="btn btn-dark" productId="{{ product.id }}">Add to cart</button>
                </div>
            </div>
            <div class="row self">

            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-sm-12 col-md-6 col-xl-6 col-lg-6">
            <div class="row">
                <div class="col">
                    <h3>Comments</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-6 col-lg-6">
            <div class="row">
                <div class="col">
                    <h3>Question</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    {{ form_start(questionForm) }}
                    <div class="form-group">
                        {{ form_label(questionForm.question, ' ') }}
                        {{ form_widget(questionForm.question, {'attr': {'class': 'form-control'}}) }}
                        <div class="row mt-3 form-error-wraper">
                            {{ form_errors(questionForm.question) }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Add question</button>
                    {{ form_end(questionForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}